<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script type="text/javascript" src="/static/js/autogrow/autogrow.min.js"></script>
	<script src="static/CodeMirror/lib/codemirror.js"></script>
	<link rel="stylesheet" href="static/CodeMirror/lib/codemirror.css">
	<script src="static/CodeMirror/mode/sql/sql.js"></script>
	<script src="static/CodeMirror/keymap/sublime.js"></script>
	<script src="static/CodeMirror/addon/search/searchcursor.js"></script>
	<link rel="stylesheet" type="text/css" href="static/CodeMirror/theme/ambiance.css">
	<link rel="stylesheet" type="text/css" href="static/CodeMirror/theme/solarized.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.js"></script>
	<script src="static/metrics-graphics/dist/metricsgraphics.js"></script>
	<link rel="stylesheet" type="text/css" href="static/metrics-graphics/dist/metricsgraphics.css">

	

</head>
<body>
<div class="container">
	<nav id="main">
		<a><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
		<a><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a>
		<a><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></a>
		<a><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></a>
		<a><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
		<a><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>

	</nav>
	<article>
		<form id="editor">
			<div id="editor_nav">
				<table class="table">
					<tr>
						<td><strong>Language</strong></td>
						<td>
							<select class="form-control lang" name="lang">
								<option value="sql">SQL</option>
								<option value="go">Go</option>
								<option value="py">Python</option>
								<option value="js">Javascript</option>
								<option value="r">R</option>
							</select>
						</td>
					</tr>
					<tr>
						<td><strong>Row Limit</strong></td>
						<td>
							<input id="limit" class="form-control" name="limit" value="5">
						</td>
					</tr>
				</table>
				<ul class="menu">
					<!-- <a><span class="btn btn-default right glyphicon glyphicon-stats" aria-hidden="true"></span></a> -->
					<!-- <a><span class="btn btn-default right glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></a> -->
					<!-- <a><span class="btn btn-default right glyphicon glyphicon-cog" aria-hidden="true"></span></a> -->
					<li>
						<button class="submit btn btn-default" type="submit" name="submit"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
					</li>
				</ul>
			</div>
			<div id="editor_space">
				<textarea id="code" name="code"  onsubmit="return replacePanel(this);"></textarea>
			</div>
		</form>

	<div id="results">

	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#metrics" aria-controls="metrics" role="tab" data-toggle="tab">Visuals</a></li>
	    <li role="presentation"><a href="#Grid" aria-controls="Grid" role="tab" data-toggle="tab">Grid</a></li>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
	  
		<div role="tabpanel" class="tab-pane active metrics" id="metrics"></div>
	    <div role="tabpanel" class="tab-pane" id="Grid">
			<table id="output" class="table table-striped"></table>
	    </div>
		

	  </div>

	</div>
		
			

	<script src="static/js/main.js"></script>

		<!-- <pre id="result"></pre> -->
	</article>
</div>
</body>
</html>