body {
	height: 100%;
	width: 100%;
}

.container {
	margin-top: 15px;
}

textarea#code {
	width: 100%;
}

form#editor {
	width: 100%;
}

div#editor_space {
	/*margin: 10px 0;*/
	/*border: 1px solid #eee;*/
	width: 70%;
	/*position: absolute;*/
	/*margin-right: 0;*/
}

div#editor_nav {
	/*height: 25px;*/
	width: 30%;
	float: right;
	/*margin-left: 0;*/
}

div#editor_nav select.lang, 
div#editor_nav input#limit {
	width: 80%;
	float: right;
}

button.submit, button.submit:active, button.submit:focus {
	float: right;
	height: 25px;
	padding: 2px 6px;
	border-radius: 0;
    background-color: hsl(204, 64%, 44%);
    border: 1px solid hsl(204, 64%, 44%);
    color: hsl(0, 100%, 100%);
}

button.submit:hover {
    color: hsl(204, 64%, 44%);
    border: 1px solid hsl(204, 64%, 44%);
    background-color: hsl(0, 100%, 100%);

}
select.form-control, input.form-control {
	height: 25px;
	width: 15%;
	border-radius: 0px;
	display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#results {
	width: 100%;
}

div#metrics.metrics {
	width: 50%;
	float: right;
}

table#output {
	width: 50%;
	float: left;
}

nav#main {
	height: 25px;
}


nav#main span.glyphicon {
	padding: 4px;
	float: right;
}